@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  /* COLORS */
  --charcoal: #34313d;
  --violet-900: #3a3054;
  --violet-500: #4b3f6b;
  --cyan: #2acfcf;
  --light-cyan: #9ae3e3;
  --red: #f46262;
  --gray-700: #9e9aa8;
  --gray-500: #eff1f7;

  /* TYPOGRAPHY */
  --fs-nav-15: 1.5rem;

  --fs-hero-80: 8rem;
  --fs-hero-22: 2.2rem;
  --fs-hero-20: 2rem;
  --fs-form-20: 2rem;
  --fs-form-18: 2rem;
  --fs-form-16: 1.6rem;
  --fs-form-15: 1.5rem;
  --fs-features-40: 4rem;
  --fs-features-22: 2.2rem;
  --fs-features-18: 1.8rem;
  --fs-features-15: 1.5rem;
  --fs-cta-40: 4rem;
  --fs-cta-20: 2rem;
  --fs-footer-16: 1.6rem;
  --fs-footer-15: 1.5rem;
  --ff-primary: 'Poppins', sans-serif;

  --padding-inline: clamp(2.4rem, 8vw, 16.5rem);
}
@media (max-width: 750px) {
  :root {
    --fs-nav-15: 1.8rem;
    --fs-hero-80: 4.2rem;
    --fs-hero-22: 1.8rem;
    --fs-hero-20: 2rem;
    --fs-form-20: 1.6rem;
    --fs-form-18: 1.8rem;
    --fs-form-16: 1.2rem;
    --fs-form-15: 1.6rem;
    --fs-features-40: 2.8rem;
    --fs-features-18: 1.6rem;
    --fs-cta-40: 2.8rem;
  }
}
html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-primary);
}
img,
svg {
  display: block;
  width: 100%;
}
a,
a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
}
